<div >
	<button type="button" class="btn btn-default" onclick="queryUsers()">GET user</button>
	<button type="button" class="btn btn-default" onclick="getUser()">GET user/id</button>
	<button type="button" class="btn btn-default" onclick="addUser()">POST user</button>
	<button type="button" class="btn btn-default" onclick="updateUser()">PUT user/id</button>
	<button type="button" class="btn btn-default" onclick="deleteUser()">DELETE user/id</button>
	
</div>
<div>
	<button type="button" class="btn btn-default" onclick="httpGet()">GET httpGet</button>
	<button type="button" class="btn btn-default" onclick="httpGetById(23)">GET httpGetById</button>
	<button type="button" class="btn btn-default" onclick="httpPost()">GET httpPost</button>
	<button type="button" class="btn btn-default" onclick="httpPut('23')">GET httpPut</button>
	<button type="button" class="btn btn-default" onclick="httpDel(24)">GET httpDel</button>
</div>

{{> script}}
<script src="/js/index.js"></script>